<p id="notice"><%= notice %></p>

<h1>Weets</h1>

<table>
  <thead>
    <tr>
      <th>Weet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weets.each do |weet| %>
      <tr>
        <td><%= weet.weet %></td>
        <td><%= link_to 'Show', weet %></td>
        <td><%= link_to 'Edit', edit_weet_path(weet) %></td>
        <td><%= link_to 'Destroy', weet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weet', new_weet_path %>
